behave==1.2.6
Django==3.2.1
django-crispy-forms==1.11.2
flash==1.0.3
Flask==1.1.2
Flask-Cors==3.0.9
Jinja2==2.11.3
notebook==6.3.0
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.4
reportlab==3.5.67
requests==2.25.1
selenium==3.141.0
testpath==0.4.4
testresources==2.0.1
virtualenv==20.0.13
virtualenvwrapper-win==1.2.6
